[Unit]
Description=doh tcp socket

[Socket]
ListenStream=443
BindIPv6Only=both
FileDescriptorName=h12
Service=doh.service

[Install]
WantedBy=sockets.target
